html, body{
    height: 100%;
    text-align: center;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1rem;
    box-sizing: border-box;
    text-align: center;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    padding: 0.7rem 2rem;
    background: linear-gradient(90deg, #f99b45, #819ff9, #63aac0);
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    border: 3px solid #fff;
    text-align: center;
    margin: 0.5rem auto 1rem auto;
    width: fit-content;
}


h2 {
    color: red;
    
}

h1, h2, h3 {
    margin: 5px;
}

.btn {
    height: 160px;
    width: 160px;
    border-radius: 20%;
    border: 6px solid black;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    transition: transform 0.1s ease;
}

.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    margin-top: 1rem;
}

.line-1, .line-2 {
    display: flex;
    justify-content: center;
    gap: 0.8rem;
}

.btn:active {
    transform: scale(0.95);
}


.yellow{
    background-color: #f99b45;
}
.red{
    background-color: #d95980;
}
.green{
    background-color: #63aac0;
}
.purple{
    background-color: #819ff9;
}

.flash{
    background-color: white;
}

.userflash{
    background-color: gray;
}

@media (max-width: 600px) {
    .btn {
        height: 150px;
        width: 150px;
        font-size: 1.5rem;
    }

   .btn-container, .line-1, .line-2 {
        gap: 0.5rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2, h3 {
        font-size: 1rem;
    }
}

.instructions {
    margin: 1rem auto 0 auto;
    font-size: 0.9rem;
    max-width: 400px;
    width: 500px;
    text-align: left;
    background-color: #f8f8f8;
    padding: 0.3rem 1rem;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.instructions h4 {
    margin-top: 0.9rem;
    margin-bottom: 0.9rem;
    text-align: center;
    font-size: 1.2rem;
}

.instructions ul {
    padding-left: 1.2rem;
    margin: 0;
}

.instructions li {
    margin-bottom: 0.5rem;
    line-height: 1.1;
}

@media (max-width: 600px) {
    .instructions {
        font-size: 0.9rem;
        padding: 0.8rem;
    }

    .instructions h4 {
        font-size: 1rem;
    }
}
